!!!
%html
  %head
    %title Pickr
    - scripts = %w{ jquery jquery.flickr pickr }.map {|s| "/javascripts/#{s}.js" }
    = javascript_script_tag *scripts
    = stylesheet_link_tag '/style/default.css'
  %body
    #selector
      =haml :selector
    #container
      #header
      #main
        = yield
      #footer
